.gridContainer {
  display: grid;
  grid-template-columns: minmax(0, auto) 19rem minmax(0, 1400px) 16rem minmax(
      0,
      auto
    );
  max-width: 100vw;
}

.gridContent {
  grid-column: 3/4;
  padding: 2rem;
}

@media screen and (max-width: 1919px) {
  .gridContainer {
    grid-template-columns: 19rem 1fr;
    justify-content: center; /* This centers the grid tracks inside the container */
  }
  .gridContent {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 1199px) {
  .gridContainer {
    grid-template-columns: 4rem 1fr;
  }
}

@media screen and (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 8px 1fr 8px;
  }
  .gridContent {
    grid-column: 2;
  }
}

.module {
  /* background-color: #8d1919; */
  margin: 8px;
  padding: 16px 8px;
  border-radius: 8px;
  border: 1px solid var(--text-color-primary-300);
}

.moduleImageContainer {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
  overflow: hidden;
  border-radius: 8px;
}

.moduleImageContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  background: linear-gradient(to bottom, var(--bg-color), transparent);
  pointer-events: none;
  z-index: 1;
}

.moduleImageContainer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  background: linear-gradient(to bottom, transparent, var(--bg-color));
  pointer-events: none;
  z-index: 1;
}
